/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*padding: 20px;*/
    /*background-color:  #2596be;*/
    /*color: #fff;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2596be;
    color: #fff;
    z-index: 1000; /* Set a high z-index to ensure it stays on top */
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    text-align: center;
    font-size: 0.7em;
    padding: 20px;
}

h1 a {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: #048acc;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    align-items: center;
    min-width: 40%;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #c8e5f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #2596be;
}

span {
    margin-left: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

thead th {
    padding: 15px;
    background-color: #048acc;
    color: #fff;
    text-align: left;
}
thead th:first-child {
    width: 10%;
}
thead th:nth-child(2){
    width: 69%;
}
thead th:nth-child(3){
    width: 20%;
}
tbody tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 15px;
}

/* Detail Page Styles */
.main-container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 220px;
}

.main-container h2 {
    color: #048acc;
}

.main-container p {
    margin: 10px 0;
}

.expandableDiv {
    height: 40px;
    overflow: hidden;
    transition: height 0.5s ease;
    margin-bottom: 10px;
    background-color: #048acc;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    border-radius: 5px;
}

.expandableDiv:hover {
    background-color: #2596be;
}
.expandableRubrikAbbrev{
    color: lightgray;
}
.expandableRubrikExtraction{
    color: #048acc;
}
.expandableRubrikSublist{
    margin-left: 50px;
}
.ai_content{
    margin-top: -10px;
    color: #048acc;
    background-color: #c8e5f4;
}

.test {
    margin-bottom: 10px;
    visibility: hidden;
    height: 0px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}
.open {
    visibility: visible;
    height: 100%;
}

.hero {
    visibility: visible;
    height: 100%;
}




ul {
    list-style-type: none;
    padding-left: 5px;
}
ul li ul. {
    display: none;
}

ul li:hover ul {
    display: block;
}
/* graph */
  .venn-graph {
    position: relative;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: #c8e5f4; /* Background color of the Venn graph */
    border-radius: 50%;
  }

  .venn-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #048acc; /* Fill color of the Venn graph */
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }

  .venn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* Adjust the font size as needed */
    color: #ffffff; /* Text color */
  }


/* Pagination */
.pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-button {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #048acc;
    background-color: #fff;
    color: #048acc;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button:hover {
    background-color: #048acc;
    color: #fff;
}

.pagination-item.active {
    background-color: #048acc;
    color: #fff;
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #048acc;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

p.very_small{
    font-size: 0.7em;
}
div.content_parent {
      display: flex;
  flex-wrap: wrap;
  /* for horizontal aligning of child divs */
  /*justify-content: center;*/
  /* for vertical aligning */
  align-items: normal;
}

div.toc {
    width: 20%;
    padding-right: 20px;
    font-size: 0.8em;
}
div.extraction {
    width: 50%;
}
div.images {
  width: 40%;
  position: fixed;
  top: 20%;
  right: 0;
  width: 300px;
}

article.promotional {
    background-image: repeating-linear-gradient(
      45deg,
      #048acc,
      #048acc 25px,
      #2596be 25px,
      #2596be 50px
    );
    color: darkgrey;
}
li.excluded{
    text-decoration: line-through;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
    #searchInput {
        width: 100%;
    }
    .details-container {
        padding: 10px;
    }
}