{#<!DOCTYPE html>#}
{#<footer><p>erstellt von <a href="https://avellinus.com" target="_blank">avellinus</a> unter Verwendung der chatGPT-API (3.5 turbo).#}
{#</p>#}
{#    <p>Die semantische Suche wurde unter Verwendung des sehr allgemeinen <a#}
{#            href="https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2" target="_blank">all-MiniLM-L6-v2</a>#}
{#        als Demo erstellt - diese könnte (etwa durch ein auf pharmazeutische Inhalte trainiertes Modell) deutlich optimiert werden.</p>#}
{#    <p>Verwendet wurde ein zufälliges Sample aus 1000 aktuellen AC-Master Dokumenten (© Apoverlag) - Analysiert wurde die Fachinformation Rubrik: 4 (KLINISCHE ANGABEN)</p>#}
{#    <p>©2024 Stefan Rapp</p>#}
{#</footer>#}