<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ACMaster Data</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>

{% include 'header.html' %}

    <div class="main-container">
        <table>
            <thead>
                <tr>
                    <th>P-Datum</th>
                    <th>Artikel</th>
                    <th>Rubrik</th>
                </tr>
            </thead>

            <tbody>
                {% for article in data_page %}
                <tr>
                    <td>{{ article.pubdate.strftime('%d.%m.%Y') }}</td>
                    <td><a href="/detail/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.rubrik }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'pagination.html' %}


    <div>
 {% include 'footer.html' %}
</body>

</html>